# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# JSON files
[*.json]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# javascript files
[*.js]
indent_size = 2
indent_style = space
tab_width = 2